@font-face {
  font-family: "Waldo";
  src: url("./assets/fonts/BlueWinter.ttf");
}

@font-face {
  font-family: "SFT";
  src: url("./assets/fonts/SFT.ttf");
}

@font-face {
  font-family: "Melon";
  src: url("./assets/fonts/Melon.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --color-header: #ea2b2e;
  --color-primary: #e6e7e6;
  --color-hover: #a61e20;
  --color-background: #eeb6b7;
  --color-background-second: #f18e8f;
}
