.gameContainer {
  position: relative; /* This is the "anchor" for everything inside */
  width: 100%;
}

.image {
  flex: 1;
  position: relative;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
